<section class="upload view">

    <ol id="flash-messages" ng-class="{visible: errorMessage}">
        <li class="error">
            {{errorMessage}}
        </li>
    </ol>

    <form name="uploadForm" ng-submit="onFormSubmit()" novalidate ng-class="{disabled: isProcessing}">

        <div class="method-panel">

            <div class="plaintext content row" ng-if="uploadForm.data.filetype === 'text/plain'">
                <div class="twelve columns">
                    <h4>Plaintext Upload</h4>
                    <textarea id="content" class="u-full-width"
                              placeholder="Paste your content here." ng-model="uploadForm.data.content"></textarea>
                </div>
            </div>

            <div class="binary content row" ng-if="uploadForm.data.filetype === 'application/octet-stream'">
                <div class="twelve columns">

                    <h4>Binary Upload</h4>

                    <div class="panel"
                         drag-over-class="{accept:'drop-accepted', reject:'drop-rejected', delay:100}"
                         ng-file-drop ng-model="uploadForm.data.file"
                         ng-file-change="onFileSelected($files, $event)"
                         ng-multiple="false"
                         accept="{{allowedBinaryMimes}}">

                        <h5 class="instruction" ng-if="!file">
                            Please Select a File to Upload<br/>
                            <small>(or just drag'n'drop a file in this box)</small>
                        </h5>
                        <h5 class="instruction" ng-if="file">
                            {{file.name}}<br/>
                            <small>(You can upload this file now)</small>
                        </h5>

                        <div class="button button-primay"
                             type="file"
                             drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                             ng-file-select ng-model="uploadForm.data.file"
                             ng-file-change="onFileSelected($files, $event)"
                             ng-multiple="false"
                             accept="*/*"
                         >Select File</div>

                    </div>
                </div>
            </div>

            <div class="metadata row">
                <div class="content-type six columns">
                    <label for="contentTypeSelect">Upload Type</label>
                    <select class="u-full-width" id="contentTypeSelect" ng-model="uploadForm.data.filetype" ng-init="uploadForm.data.filetype = defaultMode">
                        <option ng-repeat="(key, value) in displayModes" value="{{value}}" ng-selected="value == defaultMode" >{{key}}</option>
                    </select>
                </div>
                <div class="retention six columns">
                    <label for="retentionPeriodSelect">Retention Period</label>
                    <select class="u-full-width" id="retentionPeriodSelect" ng-model="uploadForm.data.retentionPeriod" ng-init="uploadForm.data.retentionPeriod = defaultRetention">
                        <option ng-repeat="(key, value) in retentions" value="{{value}}" ng-selected="value == defaultRetention">{{key}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="commit row">
            <div class="six columns">
                <label class="contentIsPrivate">
                    <input type="checkbox" ng-model="uploadForm.data.isPrivate" checked="checked" value="true">
                    <span class="label-body">This is a private upload. It won't appear in the public archive.</span>
                </label>
            </div>

            <div class="six columns">
                <input class="button-primary u-pull-right" type="submit" value="Save This Content">
                <a class="processing button u-pull-right"><img src="/assets/images/processing.gif" /> Upload in Progress</a>
            </div>
        </div>
    </form>




</section>